body {
    background: transparent;
    width: 100%;
    height: 100%;
}

html {
    height: 100%;
}

.floating-exit {
    float: right;
}

.buttonmargin {
    margin-top: 30px;
}

#top-gap {
    margin-top: 70px;
}

#form-gap {
    margin-top: 20px;
}

#bottom-gap {
    margin-top: 60px;
}

#rounded-corners {
    background: url(bg.png) no-repeat center center fixed;
    background-size: cover;

    border: 1px solid #000000;
    border-radius: 20px;
    height: 100%;
}

#progress-container {
    display: none;
}

.input-box {
    max-width: 400px !important;
}